{% extends "layout.html" %}
{% block title %}About | OutfytAI{% endblock %}

{% block content %}
<div class="space-y-6 text-sm">

  <h2 class="text-xl font-semibold">
    About OutfytAI
  </h2>

  <p class="text-secondary leading-relaxed">
    OutfytAI helps people decide what to wear by analyzing their clothing
    and suggesting balanced outfit combinations using AI.
  </p>

  <h3 class="text-lg font-semibold">
    Contact Us
  </h3>

  <p>Email: support@outfytai.com</p>

</div>
{% endblock %}
